<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>IP: <%= ip %>, Requests count: <%= count %></h1>
  </body>
</html>
